@use 'vars' as *;

@mixin button-styles {
    display: block;
    background-color: $corSecundaria;
    color: $corBranca;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: lighten($corSecundaria, 20%);
    }
}