@use './config/reset';
@use './config/vars' as *;
@use './config/mixins' as *;

body {
    background-color: $corDeFundo;
    
    li {
        list-style: none;
    }
}

.container {
    max-width: $max-container-width;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: $corPrincipal;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .menu {
        display: flex;

        li {
            font-weight: bold;
            margin-left: 24px;

            a {
                color: $corBranca;
                text-decoration: none;
            }
        }
    }
}

section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        .product-item img {
            width: 100%;
            border-radius: 16px;
        }

        .product-button {
            @include button-styles;
        }
    }
}

@media screen and (max-width: $tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: $mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}